{% extends 'base.html.twig' %}

{% block title %}Livre{% endblock %}

{% block body %}
    <h1>Livre</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ livre.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ livre.date ? livre.date|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ livre.titre }}</td>
            </tr>
            <tr>
                <th>Page</th>
                <td>{{ livre.page }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_livre_crud_index') }}">back to list</a>

    <a href="{{ path('app_livre_crud_edit', {'id': livre.id}) }}">edit</a>

    {{ include('livre_crud/_delete_form.html.twig') }}
{% endblock %}
