{% extends 'base.html.twig' %}

{% block principal %}

{% block stylesheets %}
{% endblock %}
    <link rel="stylesheet" href="{{asset("css/styleNV2.css")}}"/>

<div>
    <h1 class="titre-nv2">Liste des livres</h1>
    <table>
        <tr>
            <th>id</th>
            <th>Date</th>
            <th>Titre</th>
            <th>Nombre de page</th>
        </tr>
        {% for livres in livre %}
            <tr>
                <td>{{ livres.id }}</td>
                <td>{{ livres.Date|date }}</td>
                <td><a href="{{path('app_livre_detailslivre', {'id': livres.id}) }}">{{livres.titre}}</a></td>
                <td>{{ livres.Page }}</td>
            </tr>
        {% endfor %}
    </table>
    {% block livre_nv_trois %}
    {% endblock %}
</div>

{% endblock %}