{% extends 'base.html.twig' %}

{% block principal %}
{% block stylesheets %}
{% endblock %}
    <link rel="stylesheet" href="{{asset("css/styleNV2details.css")}}"/>
<div>
    <h1>Details d'un marque page</h1>
    <table>
        <tr>
            <th>id</th>
            <th>date de création</th>
            <th>url</th>
            <th>commentaire</th>
            <th>mots clés</th>
        </tr>
            <tr>
                <td>{{ details.id }}</td>
                <td>{{ details.DateCreation|date('d F Y') }}</td>
                <td>{{ details.url }}</td>
                <td>{{ details.commentaire }}</td>
                <td>
                    {% for mc in details.MotCles %}
                        {{ mc.MotCles }}
                    {% endfor %}
                </td>
            </tr>
        </tr>
    </table>
    <div><a class="lien caillou_rubrique_lien" href="{{path('app_marque_page_index') }}">Retour</a></div>
</div>
{% endblock %}