{% extends 'base.html.twig' %}

{% block principal %}
{% block stylesheets %}
{% endblock %}
    <link rel="stylesheet" href="{{asset("css/styleNV2details.css")}}"/>
<div>
    <h1>Details d'un marque page</h1>
    <table>
        <tr>
            <th>Libellé</th>
            <th>Valeur</th>
        </tr>
            <tr>
                <td>id</td>
                <td>{{ details.id }}</td>
            </tr>
            <tr>
                <td>date de création</td>
                <td>{{ details.DateCreation|date }}</td>
            </tr>
            <tr>
                <td>url</td>
                <td>{{ details.url }}</td>
            </tr>
            <tr>
                <td>commentaire</td>
                <td>{{ details.commentaire }}</td>
            </tr>
            <tr>
                <td>Mots cles</td>
                <td>{% for mc in details.MotCles %}
                {{ mc.MotCles }}
                {% endfor %}</td>
            </tr>
            <tr><a href="{{path('app_marque_page_index') }}">Retour</a></tr>
        </tr>
    </table>
</div>
{% endblock %}