{% extends 'base.html.twig' %}

{% block principal %}

{% block stylesheets %}
{% endblock %}
    <link rel="stylesheet" href="{{asset("css/styleNV2index.css")}}"/>

<div>
    <h1 class="titre-nv2">Liste des marque pages</h1>
    <table>
        <tr>
            <th>id</th>
            <th>Date</th>
            <th>url</th>
            <th>commentaire</th>
        </tr>
        {% for marque in marque_page %}
            <tr>
                <td>{{ marque.id }}</td>
                <td>{{ marque.DateCreation|date('d F Y') }}</td>
                <td><a class="lien" href="{{path('app_marque_page_details', {'id': marque.id}) }}">{{marque.url}}</a></td>
                <td>{{ marque.commentaire }}</td>
            </tr>
        {% endfor %}
    </table>
    {% block nv_trois %}
    {% endblock %}
</div>

{% endblock %}