{% extends 'index.html.twig' %}

{% block nv %}

{% block stylesheets %}
{% endblock %}
    <link rel="stylesheet" href="{{asset("css/styleNV2.css")}}"/>

<div>
    <table>
        <tr>
            <th>id</th>
            <th>Date</th>
            <th>url</th>
            <th>commentaire</th>
        </tr>
        {% for marque in marque_page %}
            <tr>
                <td>{{ marque.id }}</td>
                <td>{{ marque.DateCreation|date }}</td>
                <td><a href="{{path('app_marque_page_details', {'id': marque.id}) }}">{{marque.url}}</a></td>
                <td>{{ marque.commentaire }}</td>
            </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}