<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="icon" type="image/png" href="{{asset("poule.png")}}" />
        <title>Camille et Symfony en cours</title>
        
        {% block stylesheets %}
        {% endblock %}
        <link rel="stylesheet" href="{{asset("css/styleNV1.css")}}"/>

        
    </head>
    <body>
    {% block body %}
        <header class="bg">
            <div class="tete">
                 <img src="{{asset("poule.png")}}">
                <h1 class="titre">Voici SYMFONY de haut en bas, de long en large</h1>
            </div>
            <nav>
                <ul>
                    <li><a href="{{path('app_marque_page_index')}}">Marque page</a></li>
                    <li><a href="{{path('app_livre_index')}}">Livres</a></li>
                    <li><a href="{{path('app_employe_index')}}">Employé</a></li>
                    <li class="deroulant">
                        <a href="{{path('app_caillou_index')}}">Le caillou</a>
                        <ul class="sous">
                            <li><a href="{{path('app_caillou_faune')}}" class="nav_caillou">Faune</a></li>
                            <li><a href="{{path('app_caillou_flore')}}" class="nav_caillou">Flore</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </header>
        <main>
            {% block rubrique %}
            {% endblock %}
            {% block principal %}
            {% endblock %}
        </main>
        <footer>
            <div>Tous les droits réservés à CAMILLE ! <b>2024</b></div>
        </footer>
    {% endblock %}
    </body>
</html>
