<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        
        {% block stylesheets %}
        {% endblock %}
        <link rel="stylesheet" href="{{asset("css/styleNV1.css")}}"/>

        
    </head>
    <body>
    {% block body %}
        <header class="bg">
            <div class="tete">
                 <img src="{{asset("poule.png")}}">
                <h1 class="titre">Voici SYMFONY de haut en bas, de long en large</h1>
            </div>
            <nav>
                <ul>
                    <li><a href="{{path('app_marque_page_index')}}">Marque page</a></li>
                    <li><a href="{{path('app_livre_index')}}">Livres</a></li>
                    <li>
                        <a href="{{path('app_caillou_index')}}" class="deroulant">Le cailloux</a>
                        <ul>
                            <li><a href="{{path('app_caillou_faune')}}" class="sous">Faune</a></li>
                            <li><a href="{{path('app_caillou_flore')}}" class="sous">Flore</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </header>
        {% block rubrique %}
        {% endblock %}
        {% block principal %}
        {% endblock %}
        <footer>
            <div>Tous les droits réservés à CAMILLE ! <b>2024</b></div>
        </footer>
    {% endblock %}
    </body>
</html>
