{% extends 'base.html.twig' %}

{% block principal %}

{% block stylesheets %}
{% endblock %}
    <link rel="stylesheet" href="{{asset("css/styleNV2.css")}}"/>

<div>
    <h1 class="titre-nv2">Liste de la flore du caillou</h1>
    <table>
        <tr>
            <th>id</th>
            <th>Nom</th>
            <th>Image</th>
            <th>Description</th>
        </tr>
        {% for flores in flore %}
            <tr>
                <td>{{ flores.id }}</td>
                <td>{{ flores.Nom }}</td>
                <td><img class="image" src="{{asset(flores.Img) }}"/></td>
                <td>{{ flores.Description }}</td>
            </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}